<form class="well form-inline">
  <label>From Date:</label>
  <div class="input-append date" id="dp3" data-date="<%= fromDate %>" data-date-format="<%= dateFormat %>">
    <input class="input-small" size="10" type="text" value="<%= fromDate %>" readonly="readonly">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <label>To Date:</label>
  <div class="input-append date" id="dp4" data-date="<%= toDate %>" data-date-format="<%= dateFormat %>">
    <input class="input-small" size="10" type="text" value="<%= toDate %>" readonly="readonly">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <button type="submit" class="btn">Update</button>
</form>

<div class="balance-display">
  <p class="from-balance">Initial Balance (<span class="from-date"><%= fromDate %></span>): <span class="initial-balance"></span></p>
  <p class="to-balance">Final Balance (<span class="to-date"><%= toDate %></span>): <span class="final-balance"></span></p>
</div>

<div class="graph"></div>
