<form class="well form-search">
  <input type="text" class="input-large search-query" name="query">
  <button type="submit" class="btn">Search</button>
</form>

<button class="btn-new btn btn-primary" type="button">New Transaction</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<transactions.length; i++) {
    var transaction = transactions.models[i];
    %>
    <tr>
      <td><%= transaction.get('id') %></td>
      <td><%= transaction.get('date') %></td>
      <td><%= transaction.get('description') %></td>
      <td><%= accounting.formatMoney(transaction.get('amount')) %></td>
      <td>
        <button class="btn-edit btn btn-mini" type="button" value="<%= transaction.get('id') %>">Edit</button>
        <button class="btn-delete btn btn-danger btn-mini" type="button" value="<%= transaction.get('id') %>">Delete</button>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<div class="pagination"></div>
