<h1>Listing bank_accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bank</th>
    <th>Account number</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bank_accounts.each do |bank_account| %>
  <tr>
    <td><%= bank_account.name %></td>
    <td><%= bank_account.bank %></td>
    <td><%= bank_account.account_number %></td>
    <td><%= bank_account.description %></td>
    <td><%= link_to 'Show', bank_account %></td>
    <td><%= link_to 'Edit', edit_bank_account_path(bank_account) %></td>
    <td><%= link_to 'Destroy', bank_account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bank account', new_bank_account_path %>
