<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Identifier:</b>
  <%= @account.identifier %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
